/* banners */
.banner {
  max-width: 400px;
  a {
    display: block;
    height: 190px;
    padding: @grid-gutter-width;
    background-color: #e7edf9;
    margin-bottom: @grid-gutter-width;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: none;
    h5 {
      font-family: "MuseoSansCyrl700", "Helvetica Neue", Helvetica, Arial, sans-serif; 
      flex: 1 0;
      max-width: 50%;
    }
    p {
      font-size: 12px;
      line-height: 16px;
      color: #959c9e;
      margin-bottom: 0;
      max-width: 50%;
    }
    &:hover {
      h5 {
        color: #0378b3;
        &::before {
          background: #0378b3;
        }
      }
      p {
        color: #333;
      }
    }
  }
  &.col-sm-4 {
    h5 {
      /*position: relative;*/
      &::before {
        content: '';
        position: absolute;
        background: @link-color;
        width: @grid-gutter-width * 2;
        height: 2px;
        top: @grid-gutter-width;
      }
    }
    &:hover {
      h5 {
        &::before {
          background: #0378b3;
        }
      }
    }
  }
  &.col-sm-2 {
    h5 {
      font-size: 15px;
      margin-top: 0;
      max-width: 60%;
    }
    p {
      max-width: 60%;
    }
  }
} 
/** @TODO function */
.b1 a {
  background: url('@{img-path}banners/1.png') right bottom no-repeat;
  background: url('@{img-path}banners/1.png') right bottom no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/1.png') right bottom no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b2 a {
  background: url('@{img-path}banners/2.png') right bottom no-repeat;
  background: url('@{img-path}banners/2.png') right bottom no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/2.png') right bottom no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b3 a {
  background: url('@{img-path}banners/3.png') right center no-repeat;
  background: url('@{img-path}banners/3.png') right center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/3.png') right center no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b4 a {
  background: url('@{img-path}banners/4.png') right center no-repeat;
  background: url('@{img-path}banners/4.png') right center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/4.png') right center no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b5 a {
  background: url('@{img-path}banners/5.png') right bottom no-repeat;
  background: url('@{img-path}banners/5.png') right bottom no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/5.png') right bottom no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b6 a {
  background: url('@{img-path}banners/6.png') right center no-repeat;
  background: url('@{img-path}banners/6.png') right center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/6.png') right center no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b7 a {
  background: url('@{img-path}banners/7.png') right center no-repeat;
  background: url('@{img-path}banners/7.png') right center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/7.png') right center no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b8 a {
  background: url('@{img-path}banners/8.png') right center no-repeat;
  background: url('@{img-path}banners/8.png') right center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/8.png') right center no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b9 a {
  background: url('@{img-path}banners/9.png') right center no-repeat;
  background: url('@{img-path}banners/9.png') right center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/9.png') right center no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b10 a {
  background: url('@{img-path}banners/10.png') right center no-repeat;
  background: url('@{img-path}banners/10.png') right center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/10.png') right center no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b11 a {
  background: url('@{img-path}banners/11.png') right center no-repeat;
  background: url('@{img-path}banners/11.png') right center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/11.png') right center no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b12 a {
  background: url('@{img-path}banners/12.png') right center no-repeat;
  background: url('@{img-path}banners/12.png') right center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/12.png') right center no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b13 a {
  background: url('@{img-path}banners/13.png') right bottom no-repeat;
  background: url('@{img-path}banners/13.png') right bottom no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/13.png') right bottom no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b14 a {
  background: url('@{img-path}banners/14.png') right bottom no-repeat;
  background: url('@{img-path}banners/14.png') right bottom no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/14.png') right bottom no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b15 a {
  background: url('@{img-path}banners/15.png') right bottom no-repeat;
  background: url('@{img-path}banners/15.png') right bottom no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/15.png') right bottom no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b16 a {
  background: url('@{img-path}banners/16.png') right bottom no-repeat;
  background: url('@{img-path}banners/16.png') right bottom no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/16.png') right bottom no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b17 a {
  background: url('@{img-path}banners/17.png') right bottom no-repeat;
  background: url('@{img-path}banners/17.png') right bottom no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/17.png') right bottom no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b18 a {
  background: url('@{img-path}banners/18.png') center no-repeat;
  background: url('@{img-path}banners/18.png') center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/18.png') center no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b19 a {
  background: url('@{img-path}banners/19.png') center no-repeat;
  background: url('@{img-path}banners/19.png') center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/19.png') center no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}
.b20 a {
  background: url('@{img-path}banners/20.png') center no-repeat;
  background: url('@{img-path}banners/20.png') center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  &:hover {
    background: url('@{img-path}banners/20.png') center no-repeat, url('@{img-path}banners/hover.png') top center no-repeat, radial-gradient(circle at 75% 60%, #fff, #e7edf9);
  }
}